.welcome {
  color: #0080FF;
  display: block;
  text-align: center;
  line-height: 50%;
  font-weight: bold;
  margin-top: 30px;
}
.welcome-icon {
  margin-top: 30px;
  color: rgb(231,87,83);
}
.nudge {
  font-size: 40px;
  margin-right: -35px;
  font-weight: bold;

}
.fun {
  color: white;
  font-size: 30px;
}